stages:
  - test

include:
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-github-status-updates.yml"
  - component: gitlab.com/Northern.tech/Mender/mendertesting/commit-lint@master
  - project: 'Northern.tech/Mender/mendertesting'
    file:
      # QA-1046 Remove after hardening sign-off checks in the modern commit linter
      - '.gitlab-ci-check-commits-signoffs.yml'
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-check-license.yml"
